################################################################################
################################################################################
# .HTACCESS REDIRECTS - GENERATED ON 20/10/2019 13:26:24 #######################
################################################################################
################################################################################

RewriteEngine On
################################################################################
# IP TO DOMAIN #################################################################
################################################################################

RewriteCond %{HTTP_HOST} ^(?:[0-9]{1,3}\.){3}[0-9]{1,3}$ [NC]
RewriteRule ^(.*)$ https://www.aeestarreja.pt/$1 [R=301,L]

################################################################################
# FORCE HTTPS ##################################################################
################################################################################

RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP_HOST} aeestarreja.pt$ [NC]
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

################################################################################
# FORCE WWW ####################################################################
################################################################################

RewriteCond %{HTTP_HOST} !^$
RewriteCond %{HTTP_HOST} aeestarreja.pt$ [NC]
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^ https://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# -- concrete5 urls start --
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME}/index.html !-f
	RewriteCond %{REQUEST_FILENAME}/index.php !-f
	RewriteRule . index.php [L]
</IfModule>
# -- concrete5 urls end --
